<!DOCTYPE html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://th.bing.com/th/id/R.f7ce343ed66e80d60e87479d2c6753c3?rik=mZlpLMbwFr3BQg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fspotify-logo-png-open-2000.png&ehk=ZCBP9f2uKAkYi2gLrP%2fkO3Tjpcf49Bki%2fwcRu4kBXb0%3d&risl=&pid=ImgRaw&r=0"
      type="image/x-icon" sizes="64x64">
    <link rel="stylesheet" href="style1.css">
    <title>
         Asa
    </title>


</head>


<body>

    <div class="sidebar">
        <div class="logo">
             <a href="{% url 'home:home' %}">
                <img src="img/logo1.png"
                    alt="Logo" />
            </a>
        </div>
        <div class="navigation">
            <ul>

                    <li>
                        <a href="{% url "home:home" %}" style="color: #5b8978;">
                        <span class="fa fa-home"></span>
                        <span>Home</span>
                        </a>
                    </li>
                <li>
                    
                    <a href="{% url 'music:playlist' pk=user.pk %}" style="color: #5b8978;">
                        <span class="fa fas fa-book"></span>
                        <span>Your Playlist</span>
                    </a>
                </li>
                
                <li>
                    
                    <a href="{% url 'music:liked_songs' pk=user.pk %}" style="color: #5b8978;">
                    <span class="fa fas fa-heart"></span>
                    <span>Liked Songs</span>
                    </a>
                    
                </li>
                    
                <li>
                    <a href="{% url 'music:add_music' %}" style="color: #5b8978;">
                    <span class="fa fas fa-plus-square"></span>
                    <span>Add Music</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>



    <div class="main-container">
        <div class="topbar">
            <form action="{% url 'home:search'%}" method="get" class="d-flex">
            <div class="search-box">
                <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
               <input type="text" name="query" class="input-search" placeholder="Type to Search...">
            </div>
            </form>

            <div class="navbar">
                <ul>
                    <li>
                        <a href="{% url 'payment:payment_detail' %}" style="color: #f3feb9;">About us</a>
                    </li>
                    <li>
                        <a href="{% url 'payment:payment_detail' %}" style="color: #f3feb9;">Premium</a>
                    </li>
                    <li>
                        <a href="{% url 'home:FAQ' %}"  style="color: #f3feb9;">Support</a>
                    </li>
                    <li>
                        <a href="{% url 'user:registration' %}"  style="color: #f3feb9;">
                        Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>




   
		<script type="text/javascript" src="script1.js"></script>
    <script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
</body>